.signup-container {
    max-width: 500px;
    background-color: lightcoral;
    
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

button {
    width: 100%;
    background-color: red;
}
